
{{!-- Add Form --}}
<form id="add" action="/burgers/add" method="POST">
    <h2>Type in the name you'd like to add</h2>

    {{!-- Burger --}}
    <div class="form-group">
        <input type="text" class="form-control" name="burger_name" id="" placeholder="Burger name">
        <button class="btn btn-warning" type="submit">Submit</button>
    </div>

    {{!-- <button class="btn btn-warning" type="submit">Submit</button> --}}
</form>